/* modal background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* modal box */
.logout-modal {
  width: 320px;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.15);
}

.logout-modal h3 {
  margin-bottom: 20px;
  font-size: 16px;
  color: black;
  font-family: "Poppins", sans-serif;
}

/* buttons */
.logout-actions {
  display: flex;
  justify-content: space-between;
}

.cancel-btn {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 8px;
  background: #cfcfcf;
  border: none;
  cursor: pointer;
}

.confirm-btn {
  flex: 1;
  margin-left: 10px;
  padding: 10px;
  border-radius: 8px;
  background: #d9534f;
  color: white;
  border: none;
  cursor: pointer;
}

.cancel-btn:hover {
  background: #b5b5b5;
}

.confirm-btn:hover {
  background: #c9302c;
}
